<div class="full-width {{ section.settings | class_list }} color-{{ section.settings.color_scheme }}"> 
  {% content_for 'blocks' %} 
</div>

{% schema %}
{
  "name": "Featured collection",  
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [    
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
    "type": "collection",
    "id": "collection",
    "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Feature collection"
    },
  ]
}
      {% endschema %}
